.soundOnly {
  overflow: hidden;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.btnExit {
  margin-bottom: 30px;
}
.btnExit a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.btnExit a::before,
.btnExit a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background-color: white;
  transform: translateX(-50%) rotate(45deg);
}
.btnExit a::after {
  transform: translateX(-50%) rotate(-45deg);
}

.movie {
  position: relative;
}
.visual {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(5px);
}
/* .visual img {
  position: absolute;
  width: 100%;
  z-index: 1;
} */
.visual .popup {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  max-height: calc(100% - 100px);
  padding: 0 30px;
  text-align: center;
  transform: translateY(-50%);
}
.popup .info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.info .title {
  font-size: 30px;
}

.info .details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.details dl {
  display: flex;
  gap: 10px;
}

.ratingWrap {
  display: flex;
  gap: 5px;
  align-items: center;
}
.ratingWrap .rating {
  position: relative;
}
.rating .stars {
  display: flex;
  color: #eee;
}
.stars .star {
  overflow: hidden;
  display: block;
  width: 16px;
  line-height: 1;
}
.rating .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffc107;
}
.fill .clip {
  clip-path: polygon(0% 0%, var(--clip) 0%, var(--clip) 100%, 0% 100%);
}

.desc {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 768px;
  max-height: 500px;
  margin: 50px auto 0;
  text-align: left;
  line-height: 1.6;
}

.genres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}
.genres li {
  padding: 3px 5px;
  background-color: #ffc107;
  border-radius: 3px;
  font-weight: 500;
  color: black;
  line-height: 1;
}
